<div class='addPost-container'>
    <h1>Submit Post</h1>
    <for id='addPost-form'>
       <input
         type='text'
         id="add-post-title"
         placeholder='Title *required'
         />
         <textarea
         type'text'
         id='add-post-description'
            placeholder='Description *required'
            ></textarea>

    <h1 id='addpost-status'>Fill in all forms</h1>
</div>